#contenedor{
	width: 960px;
	margin: 0 auto;
}

#columna-izquierda{
	width: 700px;
	float: left;
	background-color: greenyellow;
}
#columna-derecha{
	width: 260px;
	float: left;
	background-color: coral;
}

@media screen and (max-width: 959px){
	#contenedor{
		width: 100%;
	}
	#columna-izquierda{
		width: 70%;
	}
	#columna-derecha{
		width: 30%;
	}
	img{
		width: 100%;
	}


@media screen and (max-width: 740px){
	#columna-izquierda{
		width: 100%;
	}
	#columna-derecha{
		width: 100%;
	}


}